*,html,:before,:after{margin:0;padding:0;border:0;outline:0;font-weight:inherit;font-style:inherit;font-family:inherit;-moz-box-sizing:border-box;box-sizing:border-box;font-size:100%;text-align:left}img{color:transparent;font-size:0;vertical-align:middle;-ms-interpolation-mode:bicubic}ol,ul{list-style:none}li{display:list-item}a img{border:0}a{text-decoration:none}b,strong{font-weight:700}i,em{font-style:italic}img{max-width:100%}.btn,input[type=button],select,button{-webkit-appearance:none;cursor:pointer;background-color:transparent}.content_center{display:flex;justify-content:center;align-items:center}.hide{display:none}



:root, :before, :after{
  --site-container:987px;
  --size-1:5px;
  --size-2:8px;
  --size-3:13px;
  --size-4:21px;
  --size-5:34px;
  --size-6:55px;
  --size-7:89px;
  --max-zindex:2147483648;
  --default-fontsize:14px;
  --bg-1:#212121;
  --color-default-1:#BDBDBD; 
  --color-default-2:#FFFFFF;
  --header-height:var(--size-6); 
  --footer-height:var(--size-6);
}



body, html{font-family:'Montserrat',sans-serif; font-size:var(--default-fontsize); font-weight:500; letter-spacing:0.5px; font-feature-settings:'lnum' 1; color:var(--color-default-1);
-webkit-text-size-adjust:100%; -ms-text-size-adjust:100%; -webkit-font-smoothing:antialiased; -moz-osx-font-smoothing:grayscale; text-rendering:optimizeSpeed;}
html{background-color:var(--bg-1); scroll-behavior:smooth;}
body{overflow-x:hidden;}
.btn, a.btn, button.btn, .button-more-link{padding:var(--size-4); font-weight:normal; -webkit-appearance:none; text-transform:capitalize; 
display:flex; text-align:center; align-items:center; justify-content:center;}
.rancak-popup{display:none;}
.width-max{position:relative; width:100%; max-width:var(--site-container); margin:0 auto;}



.flex_ori{display:block; overflow:hidden; position:relative; line-height:0;}
.flex_ori:before{content:''; display:block;}
.flex_ori img, .flex_ori iframe{position:absolute; z-index:2; top:0; left:0; width:100%; height:100%; object-fit:cover;}
.flex_ori img:not([src]){visibility:hidden;}



.rancak-container{padding:var(--size-3) 0;}
.rancak-container-max{width:100%; max-width:var(--site-container); padding:0 var(--size-4); margin:0 auto;}
.rancak-container-split{display:grid; grid-gap:var(--size-5);}
.rg-link{display:flex; align-items:center;}
.rg-icon{line-height:100%;}
.rg-icon .svgicon{width:auto; height:100%;}
.rg-label{margin-left:var(--size-2); font-size:16px;}
.section-title{font-size:24px; text-transform:uppercase; margin-bottom:var(--size-4);}
.rancak-split-container{display:grid; grid-gap:var(--size-5);}



header{position:sticky; z-index:calc(var(--max-zindex) - 1000); top:0; padding:0 !important;}
.header-container{display:flex; flex-wrap:wrap; justify-content:space-between; padding:0;}
.header-link{height:var(--header-height); padding:0 var(--size-2);}
.header-link .rg-icon{line-height:0;}
.header-link .svgicon{width:auto; height:24px;}
.header-logo{padding-left:var(--size-4);}



.article-list .section-title{margin-bottom:0;}
.article-link{display:grid; grid-gap:var(--size-3); grid-template-columns:89px 1fr; align-items:center; padding:var(--size-3) 0; border-bottom:1px dashed;}
.article-thumb-frame:before{padding-top:100%;}
.article-title{line-height:130%; font-weight:bold;}
.article-date{font-size:12px; margin-top:var(--size-1);}
@media screen and (min-width:640px){
  .article-link{grid-template-columns:144px 1fr;}
  .article-thumb-frame:before{padding-top:56.25%;}
  .article-title{font-size:16px; line-height:140%;}
}



.share{display:flex; justify-content:space-between; align-items:center; padding:var(--size-2) var(--size-3);}
.share-label{padding:0 var(--size-2);}
.share-list{display:flex;}
.share-link{padding:var(--size-2);}
.share-link .svgicon{width:auto; height:24px;}




.rancak-tiktok-box, .rancak-instagram-box{position:relative; width:100%;}
.rancak-tiktok-box{max-height:400px;}
.rancak-tiktok-box:before{padding-top:70%;}
.rancak-instagram-box:before{padding-top:calc(66.66% + 160px);}
.rancak-tiktok-box iframe, .rancak-instagram-box iframe{position:absolute; top:0; left:0; width:100%; height:100%;}



footer{height:var(--footer-height); padding:0 var(--size-5);}





@media screen and (min-width:0px) and (max-width:1023px){
  .desktop-only{display:none !important; visibility:hidden; content-visibility:hidden;}
  .desktop-only iframe[loading=lazy]{content-visibility:hidden !important;}
  
  
  
  .header-toggle{padding-right:var(--size-4);}
  .header-toggle .svgicon{height:16px;}
}









@media screen and (min-width:1024px){
  .mobile-only{display:none !important; visibility:hidden; content-visibility:hidden;}
  .mobile-only iframe[loading=lazy]{content-visibility:hidden !important;}
  
  
  
  .popup-socmed, .popup-socmed-list{display:flex !important;}
  .popup-socmed .header-socmed:last-child{padding-right:var(--size-4);}
  .popup-socmed .header-socmed .rg-label{display:none;}
  
  
  
  .rancak-container-split{grid-template-columns:1fr 300px;}
  
  
  
  .sidebar-container{position:-webkit-sticky; position:sticky; padding-bottom:0.1px; top:calc(var(--header-height) + var(--size-3));}
}